# Database Configuration
MONGODB_URI=mongodb://localhost:27017/whatsapp-bot

# Bot Configuration
BOT_NAME=Coffee Bot
TIMEZONE=Africa/Lagos

# Environment
NODE_ENV=development

# Chat Configuration
ANNOUNCEMENT_CHAT_NAME=Announcements


